<div class="container my-5">
  <h1 style="text-align: center">Simple ngModel Form</h1>
  <h5 style="text-align: center">
    <a
      href="https://github.com/PallabMohanta/ngModelProject.git"
      style="text-decoration: none"
      target="_blank"
      >Click Here for Source Code!</a
    >
  </h5>
  <br />
  <div class="form-group">
    <div class="form-group">
      <label for="exampleInputPassword1">Name</label>
      <input
        type="text"
        class="form-control"
        name="name"
        [(ngModel)]="user.fname"
        placeholder="Enter Name"
      />
    </div>
    <label for="exampleInputEmail1">Email address</label>
    <input
      type="email"
      class="form-control"
      name="exampleInputEmail1"
      [(ngModel)]="user.email"
      placeholder="Enter email"
    />
    <small class="form-text text-muted"
      >We'll never share your email with anyone else.</small
    >
  </div>
</div>
